<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AWS_CAS_SERVICE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  </head>
  <body ng-app="casApp">
    <style>
      @media (max-width: 800px) {
      	img {
          max-width: 300px;
      	}
      }
    </style>
    <br>
    <div style="text-align: center">
      <h3>Cloud Application Service - CAS</h3>
    </div>
    <div class="container" ng-controller="casFilterController">
      <div id="filterMenu">
        <ul class="nav nav-pills">
          &nbsp;
          <li class="nav-item dropdown" ng-repeat="filterCategory in filterOptionsList.categories">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#!" role="button" aria-haspopup="true" aria-expanded="false">{{filterCategory.title}}</a>
            <div class="dropdown-menu" >
              <button class="dropdown-item" ng-repeat="filterCategorySelection in filterCategory.selections" ng-click="queryCasUsers(filterCategory.title, filterCategorySelection)">{{filterCategorySelection}}</button>
            </div>
          </li>
          &nbsp;
          <li class="nav-item " >
            <button type="button" class="btn btn-success" ng-click="removeFilter()">View All</button>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <div class="container">
      <div id="mysfitsGrid" class="row" ng-controller="CasUserListController">
          <div class="col-md-4 border border-warning" ng-repeat="casuser in casusers">
              <br>
                <p align="center">
                  <strong> {{cas_user.userId}} </strong>
            <br>
          </p>
          <p>
            <br>
            <b>User ID :</b> {{cas_user.name}}
            <br>
            <b>App ID</b> {{cas_user.appId}}
            <br>
            <b>Group ID :</b> {{cas_user.groupId}}
            <br>
            <b>Role ID :</b> {{cas_user.roleId}}
            <br>
            <b>Email</b> {{cas_user.email}}
            <br>
            <b>Password :</b> {{cas_user.password}}
          </p>
          </div>
        </div>
      </div>
    <p>
      <br>
       </body>
  <script>

    var casApiEndpoint = 'http://casapi-nlb-faf84d0ebd6ba9e7.elb.ap-southeast-1.amazonaws.com';

    var app = angular.module('casApp', []);

    var gridScope;

    var filterScope;

    app.controller('clearFilterController', function($scope) {
    });

    app.controller('casFilterController', function($scope) {

      filterScope = $scope;

      // The possible options for Mysfits to populate the dropdown filters.
      $scope.filterOptionsList =
       {
         "categories": [
           {
             "title": "groupId",
             "selections":  [
               "SG",
               "HK",
               "IN"
             ]
           },
           {
             "title": "orgId",
             "selections":  [
               "1",
               "2",
               "3"
             ]
           }
         ]
       };

       $scope.removeFilter = function() {
         allUsers = getuserlist(applyGridScope);
       }

       $scope.queryCasUsers = function(filterCategory, filterValue) {

           var filterCategoryQS = "";
           if (filterCategory==="groupId") {
             filterCategoryQS = "SG";
           } else {
             filterCategoryQS = "HK"
           }
           var casApi = casApiEndpoint + '/getuserlist?' + 'filter=' + filterCategoryQS + "&value=" + filterValue;

           $.ajax({
             url : casApi,
             type : 'GET',
             success : function(response) {
               applyGridScope(response.casusers)
             },
             error : function(response) {
               console.log("could not retrieve casusers list.");
             }
           });
       }



    });

    app.controller('CasUserListController', function($scope) {

      gridScope = $scope;

      getuserlist(applyGridScope);

    });

    function applyGridScope(userList) {
      gridScope.casusers = userList;
      gridScope.$apply();
    }

    function getuserlist(callback) {

      var casApi = casApiEndpoint + '/getuserlist';

      $.ajax({
        url : casApi,
        type : 'GET',
        success : function(response) {
          callback(response.casusers);
        },
        error : function(response) {
          console.log("could not retrieve casusers list.");
        }
      });
    }


  </script>
</html>
